* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-sig {
    font-size: 2em;
    letter-spacing: .25em;
    padding-left: 20px;
}

.logo-img {
    width: 50px;
}

nav {
    width: 30%;
}

.nav-list {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
}

.nav-item a {
    text-decoration: none;
    color: #000;
}

.landing {
    background-image: url("library.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100%;
    /* height: 100vh; */
    color: #fff;
    display: flex;
    align-items: center;
}

.landing-title {
    font-size: 3rem;
    margin-bottom: 0.5em;
    text-align: center;
}

.landing-info {
    font-size: 2rem;
    margin-bottom: 1em;;
}

.landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(255,255,255,0.06);
    width: 90%;
    height: 80%;
    backdrop-filter: blur(20px);
    margin: auto;
    border-radius: 15px;
}

.cta-btn {
    text-decoration: none;
    padding: 10px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 3px;
}

.buttons a {
   font-size: 1.25rem;;
}

.buttons a:hover {
    background-color: tan;

}