* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-sig {
    font-size: 2em;
    letter-spacing: .25em;
    padding-left: 20px;
}

.logo-img {
    width: 50px;
}

nav {
    width: 30%;
}

.nav-list {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
}

.nav-item a {
    text-decoration: none;
    color: #000;
}

.landing {
    background-image: url("library.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100%;
    /* height: 100vh; */
    color: #fff;
}

.landing-title {
    font-size: 3rem;;
}

.landing-info {
    font-size: 2rem;
    margin-bottom: 1em;;
}

.landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header-btn {
    text-decoration: none;
    padding: 5px 20px;
    color: #000;
    background-color: #fff;
    border-radius: 3px;
}